<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>对象页</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div id="app">
        <table>
            <tr v-for="ob in obs">
                <td><a v-bind:href="bk+'/'+ob.key" target="_blank">{{ob.key}}</a></td>
                <td>{{bytesToSize(ob.size)}}</td>
                <td>{{ob.lastModified|time}}</td>
                <td><a href="#" v-on:click="del(bk,ob.key)">删除</a></td>
            </tr>
        </table>
    </div>
    <script>
        Vue.filter('time',function (value) {
            return new Date(value).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
        });
        var vue = new Vue({
            el: '#app',
            data: {
                bk: '',
                obs: []
            },
            created: function(){
                var _self=this;
                var bk = window.location.pathname;
                var index = bk .lastIndexOf("v/");
                bk  = bk .substring(index + 1, bk .length);
                this.bk = bk;
                $.get(bk , function(data){
                    _self.obs = data;
                });
            },
            methods: {
                del: function (bk,ob) {
                    if(confirm('确认删除?'))
                        $.ajax({
                            type: "delete",
                            url: bk+'/'+ob,
                            success: function () {
                                alert("删除成功!");
                                window.location.reload();
                            }
                        });
                },
                bytesToSize: function (bytes) {
                    if (bytes === 0) return '0 B';
                    var k = 1000, // or 1024
                        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                        i = Math.floor(Math.log(bytes) / Math.log(k));

                    return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
                }
            }
        })
    </script>
</body>
</html>